In [ ]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import silhouette_score, davies_bouldin_score, calinski_harabasz_score, adjusted_rand_score, normalized_mutual_info_score
from sklearn.metrics import importsilhoutte_samples, silhouette_score

import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Cek informasi dataset

data = pd.read_csv('../dataset/Hous Price Yogyakarta/rumah-yogya.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2020 entries, 0 to 2019
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             2020 non-null   object
 1   nav-link          2020 non-null   object
 2   description       2020 non-null   object
 3   listing-location  2020 non-null   object
 4   bed               2001 non-null   float64
 5   bath              1999 non-null   float64
 6   carport           1713 non-null   float64
 7   surface_area      2019 non-null   object
 8   building_area     2019 non-null   object
dtypes: float64(3), object(6)
memory usage: 142.2+ KB

In [ ]:
# cek data yang hilang

print(data.isnull().values.any())
print(data.isnull().sum())

True
price                 0
nav-link              0
description           0
listing-location      0
bed                  19
bath                 21
carport             307
surface_area          1
building_area         1
dtype: int64

In [7]:
data = data.fillna(data.mean(numeric_only=True))
print(data.isnull().sum())

price               0
nav-link            0
description         0
listing-location    0
bed                 0
bath                0
carport             0
surface_area        1
building_area       1
dtype: int64

In [15]:
# --- 1. BERSIHKAN PRICE ---
data['price'] = (
    data['price']
    .astype(str)
    .str.replace(r'[^0-9]', '', regex=True)
    .replace('', '0')
    .astype(float)
)

# --- 2. BERSIHKAN surface_area ---
data['surface_area'] = (
    data['surface_area']
    .astype(str)
    .str.replace(r'[^0-9]', '', regex=True)
    .replace('', '0')
    .astype(float)
)

# --- 3. BERSIHKAN building_area ---
data['building_area'] = (
    data['building_area']
    .astype(str)
    .str.replace(r'[^0-9]', '', regex=True)
    .replace('', '0')
    .astype(float)
)

# --- 4. ISI MISSING VALUE UNTUK KOLOM NUMERIK ---
numeric_cols = ['bed', 'bath', 'carport', 'surface_area', 'building_area', 'price']

for col in numeric_cols:
    data[col] = data[col].fillna(data[col].mean())

# --- 5. SIAPKAN FITUR & TARGET ---
X = data[['bed', 'bath', 'carport', 'surface_area', 'building_area']]
y = data['price']

In [ ]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# --- 6. SPLIT DATASET ---
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("Shape X_train:", X_train.shape)
print("Shape X_test:", X_test.shape)
print("Shape y_train:", y_train.shape)
print("Shape y_test:", y_test.shape)

NameError: name 'StandardScaler' is not defined